# Binaries for programs and plugins
bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Outputs of the go coverage tool, static analysis etc.
*.out*

# Go workspace file
go.work
go.work.sum

# MacOS
.DS_Store

# IDEs and editors
.idea
.vscode

# Inputs and outputs
cp.out
golangci-lint.out
